#root {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("./assets/images/background.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.widget {
  background: #1e2124;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}